language: android

android:
  components:
    - build-tools-23.0.3
    - android-23
    - extra-android-m2repository
    - extra-google-m2repository

script:
  - ./gradlew clean build check

after_success:
  - gradle/deploy_snapshot.sh

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle